<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scal=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <nav class="navbar">
        <div class="logo">MyPortfolio</div>
        <ul class="nav-links">
            <li><a href="#about">About</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <section class="hero">
        <h1>Hi, I'm <span>Your Name</span></h1>
        <p>Full Stack Developer | Building things with FastAPI, Python & JS</p>
        <a href="#projects" class="btn-primary">View My Work</a>
    </section>
    <section id="about" class="about">
        <h2>About Me</h2>
        <p>
            I'm a developer passionate about building clean, functional ai powered web applications.
            I love working with Python, FastAPI, and modern JavaScript to bring ideas to life.
        </p>
    </section>
    <section id="projects" class="projects">
        <h2>My Projects</h2>
        <div class="project-grid">

            <div class="project-card">
                <h3>Project One</h3>
                <p>Short description of what this project does and tech used.</p>
                <a href="#" target="_blank">View Project →</a>
            </div>

            <div class="project-card">
                <h3>Project Two</h3>
                <p>Short description of what this project does and tech used.</p>
                <a href="#" target="_blank">View Project →</a>
            </div>

            <div class="project-card">
                <h3>Project Three</h3>
                <p>Short description of what this project does and tech used.</p>
                <a href="#" target="_blank">View Project →</a>
            </div>

        </div>
    </section>
    <script src="/static/js/script.js"></script>
</body>

</html>